<!DOCTYPE html>
<html>
<head>
  <title>JoG</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <!--
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  -->
 
  
  <%= csrf_meta_tags %>
  
  <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/javascript/plugins/jquery.backstretch.min.js" type="text/javascript"></script>

  <script src="/javascript/plugins/jquery-autocomplete/lib/jquery.bgiframe.min.js" type="text/javascript"></script>
  <script src="/javascript/plugins/jquery-autocomplete/lib/jquery.ajaxQueue.js" type="text/javascript"></script>
  <script src="/javascript/plugins/jquery-autocomplete/lib/thickbox-compressed.js" type="text/javascript"></script>
  <script src="/javascript/plugins/jquery-autocomplete/jquery.autocomplete.js" type="text/javascript"></script>
  <script src="/javascript/plugins/slides.min.jquery.js" type="text/javascript"></script>


  <script src="/javascript/plugins/jquery-waitLoading/jquery.showLoading.min.js" type="text/javascript"></script>

  <script src="/fancybox/source/jquery.fancybox.js?v=2.0.6" type="text/javascript" ></script>


  

  <script src="/javascript/controller/jog_landing_post_metric_controller.js" type="text/javascript"></script>
  <script src="/javascript/model/jog_landing_post_metric_model.js" type="text/javascript"></script>
  <script src="/javascript/view/jog_landing_post_metric_view.js" type="text/javascript"></script>
  



    <!-- Plugin Css -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/css/jquery.autocomplete.css" type="text/css" />
  <link rel="stylesheet" href="/css/thickbox.css" type="text/css" />
  <link rel="stylesheet" href="/css/showLoading.css" type="text/css" />
  <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.0.6" media="screen" type="text/css" />

  <link rel="stylesheet" href="/css/common.css" type="text/css" />
  <link rel="stylesheet" href="/css/leaderboard.css" type="text/css" />
  <link rel="stylesheet" href="/css/datapanel.css" type="text/css" />
  <link rel="stylesheet" href="/css/post_entry.css" type="text/css" />

  
</head>
<body>
<input type="hidden" id="jog_page_mode">
<input type="hidden" id="jog_page_id">
<input type="hidden" id="jog_url">
<script>
  $("#jog_page_mode").val("<%= @page_mode %>"); 
  $("#jog_page_id").val("<%= @page_id %>");
  $("#jog_url").val("<%= AppConstants.server_base %>");
</script>
<%= yield %>


</body>
</html>
