<!DOCTYPE html>
<html>
<head>
  <title>JoG</title>

  <meta content="<%= AppConstants.facebook_app_id %>" property='fb:app_id'>
  <meta content="makemytrip, JoG, donate, joy of giving, charity, goodness, give, india, gandhi, contest,  travel, ticket, airlines" name="keywords" />
  <meta content="other" property="og:type" />
  <meta content="JoGW" property="og:site_name" />
  <meta content="https://s3.amazonaws.com/jogw/mmt_share.jpg" property="og:image" />
  <meta content="http://apps.facebook.com/joy-app" property="og:url">
  
  
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <!--
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  -->
 
  
  <%= csrf_meta_tags %>

  <!-- %= include_javascripts :plugins % -->
  
  <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/javascript/plugins/jquery.backstretch.min.js" type="text/javascript"></script>

  <script src="/javascript/plugins/jquery-autocomplete/lib/jquery.bgiframe.min.js" type="text/javascript"></script>
  <script src="/javascript/plugins/jquery-autocomplete/lib/jquery.ajaxQueue.js" type="text/javascript"></script>
  <script src="/javascript/plugins/jquery-autocomplete/lib/thickbox-compressed.js" type="text/javascript"></script>
  <script src="/javascript/plugins/jquery-autocomplete/jquery.autocomplete.js" type="text/javascript"></script>
  <script src="/javascript/plugins/slides.min.jquery.js" type="text/javascript"></script>
  <script src="/javascript/plugins/jquery.prettydate.js" type="text/javascript"></script>
  <script src="/javascript/plugins/jquery.shadow.js" type="text/javascript"></script>
  <script src="/javascript/plugins/jquery.tipsy.js" type="text/javascript"></script>  


  <script src="/javascript/plugins/jquery-waitLoading/jquery.showLoading.min.js" type="text/javascript"></script>

  <script src="/fancybox/source/jquery.fancybox.js?v=2.0.6" type="text/javascript" ></script>
  
  

  <script src="/javascript/controller/jog_landing_post_metric_controller.js" type="text/javascript"></script>
  <script src="/javascript/model/jog_landing_post_metric_model.js" type="text/javascript"></script>
  <script src="/javascript/view/jog_landing_post_metric_view.js" type="text/javascript"></script>
  



    <!-- Plugin Css -->
  <!-- %= include_stylesheets :defaults % -->

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/css/plugins/jquery.shadow.css" type="text/css" />
  <link rel="stylesheet" href="/css/jquery.autocomplete.css" type="text/css" />
  <link rel="stylesheet" href="/css/thickbox.css" type="text/css" />
  <link rel="stylesheet" href="/css/showLoading.css" type="text/css" />
  <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.0.6" media="screen" type="text/css" />
  <link rel="stylesheet" href="/css/tipsy.css" type="text/css" />

  <link rel="stylesheet" href="/css/common.css" type="text/css" />
  <link rel="stylesheet" href="/css/leaderboard.css" type="text/css" />
  <link rel="stylesheet" href="/css/datapanel.css" type="text/css" />
  <link rel="stylesheet" href="/css/post_entry.css" type="text/css" />


  
  

</head>
<body>
<input type="hidden" id="jog_page_mode">
<input type="hidden" id="jog_page_id">
<input type="hidden" id="jog_url">
<input type="hidden" id="jog_app_id">
<input type="hidden" id="jog_admin_id">
<script>
  $("#jog_page_mode").val("<%= @page_mode %>"); 
  $("#jog_page_id").val("<%= @page_id %>");
  $("#jog_url").val("<%= AppConstants.server_base %>");
  $("#jog_app_id").val("<%= AppConstants.facebook_app_id %>");
  var JOGAdminUID = "<%= AppConstants.admin_uid %>".split(',');
  $("#jog_admin_id").val("<%= AppConstants.admin_uid %>");
</script>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= AppConstants.facebook_app_id %>', 
      //appId      : '367153893359066', // App ID
      //appId      : '244515575666539',
      channelUrl  : '<%= AppConstants.server_base %>/',
      //channelUrl : 'http://whispering-plains-8323.herokuapp.com/', // Channel File
      //channelUrl : 'http://localhost:3000/', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML

    });
    
    FB.getLoginStatus(function(response) {
            if (response.status === 'connected' && $("#jog_page_mode").val() == "landing_page") {
                console.log('********AUTHORIZED *********');
                console.log("Access Token " + response.authResponse.accessToken);
                console.log("User ID " +response.authResponse.userID);
                JOG.redirectOnFBResponse(response, true);
            } else if (response.status === 'not_authorized') {
                console.log('********NOT AUTHORIZED *********');
            }
        });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>


<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->


<%= yield %>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35244982-1']);
  _gaq.push(['_setDomainName', 'herokuapp.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
 

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type='text/javascript'>
  document.write(unescape("%3Cscript%20src='"+
  (document.location.protocol=='https:'?
      'https://clicktale.pantherssl.com/':
  'http://s.clicktale.net/')+
"WRd.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
var ClickTaleSSL=1;
if(typeof ClickTale=='function') ClickTale(15351,1,"www03");
</script>
<!-- ClickTale end of Bottom part -->

</body>
</html>
