<!DOCTYPE html>
<html>
<head>
  <title>JoG</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <!--
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  -->
 
  
  <%= csrf_meta_tags %>
  

</head>
<body>
<input type="hidden" id="jog_page_mode">
<script>
  $("#jog_page_mode").val("<%= @page_mode %>"); 
</script>
<%= yield %>


</body>
</html>
